# GIT
!.gitignore

# Guides
!README.md
!/docs

# TOOLS
!Makefile
!CMakeLists.txt
!gcc-arm-none-eabi.cmake
!.clang-format
!Dockerfile
!docker-compose.yml
!.dockerignore

# EXAMPLE
!CubeMX
!Project
!Modules
!/.vscode
!/.vscode/tasks.json
!/.vscode/c_cpp_properties.json
!/.vscode/launch.json
!/.vscode/settings.json
